/* osant.css */

body {
   background: #909193 url(images/linen.png) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   border-bottom: 1px solid black;
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#display {
	background-color:#DFDBC3;
	border: 2px solid red; 
	cursor: default;
}

#taskbar {
	background-color:#DFDBC3;
	border: 2px solid red; 
	cursor: default;
}

#memory {
	height: 344px;
	width: 350px;
	border: 2px solid red;
	overflow: scroll;
}

#memoryTable {
	height: 300px;
	width: 350px;
	background-color:#DFDBC3;
	overflow: scroll;
}

#cpuTable {
    background-color:#DFDBC3;
    width: 350px;
    height: 100px;
}

#readyQueueTable {
    background-color:#DFDBC3;
    width: 350px;
    height: 100px;
}

.normal_button {
	width: 100px;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
   text-align: center;
}